@import 'tailwindcss';

@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));

:root {
  font-size: 17px;
}
#root {
  min-height: 100vh;
  height: 100vh;
  display: flex;
}

#root > div {
  flex: 1;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

@theme {
  --color-primary: #e2e2e2;
  --color-error: #d32f2f;
  --color-sidebar: #2c2c2c;
  --color-success: #2e7d32;
  --color-border: #ccc;
  --color-muted: #555;
  --color-bg: #e2e2e2;
  --color-text: #212121;
  --radius-md: 6px;
  --radius-lg: 8px;
}

[data-theme='dark'] {
  --color-primary: #212121;
  --color-muted: #555;
  --color-bg: #212121;
  --color-sidebar: #2c2c2c;
  --color-text: #e2e2e2;
  --color-border: #ccc;
}

@layer components {
  .btn {
    @apply hover:bg-muted active:bg-muted  p-1 text-left rounded-sm cursor-pointer duration-150 transition-[background-color,box-shadow,transform] active:scale-95 disabled:opacity-50 disabled:cursor-not-allowed disabled:active:scale-100;
  }
}
